@using EmailApp.Services;
@{
    ViewData["Title"] = "Home Page";
}
@inject IEmailService _emailServices;


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Start From Menu Email App </p>
    
</div>
