@model EmailApp.ViewModels.SendEmailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutWithSideBar.cshtml";
}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4>                    
                    Subject :
                    @Model.Subject
                </h4>                
                <h5>to: @Model.To</h5>
            </div>
            <div class="card-body">
                <p>@Html.Raw(Model.Body)</p>
            </div>
            <div class="card-footer text-muted">
                <p>Sent: @Model.CreateOn.Value.ToString("MMMM dd, yyyy hh:mm tt")</p>
            </div>
        </div>
    </div>
</div>
